body {
    font-family: 'Play', sans-serif;
}
/* home page */
.heading {
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 90px;
    margin: 10px;
}

/* game menu*/
.game-menu {
    text-align: center;
}

.play-button {
    width: 25%;
    font-family: 'Play', sans-serif;
    font-size: 50px;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 30px 5px 30px;
    padding: 60px 40px;
    background-color: #444c54;
    color: #ffffff;
    box-shadow: 10px 10px 5px #aaaaaa;    
}

.how-to-play {
    margin-top: 10px;
    text-align: center;
    width: 60%;
}

/* footer */
footer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.socials {
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.socials i {
    color: #0c0c0c;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.socials i:hover {
    color: #33322e;
}

/* game page */
.smiley {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.smiley-button {
    font-size: 60px;
}

/* game board */
.game-board-container {
    width: 100%;
    padding: 0;
}

.game-board {
    height: 43vw;
    width: 43vw;
    max-width: 700px;
    max-height: 700px;
    border: 10px solid #2e2e33;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: #504d4d;
    border: 1px solid #33322e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.disable {
    pointer-events: none;
}

/* game controls */
.controls {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 700px;
    font-size: 50px;
    margin-right: 25px;
}

.controls i {
    margin: 10px;
}

/* game on screen display */
.info-display {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-left: 25px;
}

.mine-count-container {
    width: 220px;
    height: 100px;
    border: 3px solid #33322e;
    margin: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.mine-count {
    width: 50%;
    text-align: center;
    font-size: 60px;
}

.timer-container {
    width: 220px;
    height: 100px;
    border: 3px solid #33322e;
    font-size: 80px;
    margin: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.timer {
    width: 50%;
    text-align: center;
    font-size: 60px;
}

/* media queries*/
@media screen and (max-width: 1024px) {
    /* game page */
    .game-board {
        height: 60vw;
        width: 60vw;       
    }

    .controls {
        margin-right: 0;
        height: 60vw;
    }

    .info-display {
        margin: 0;
        gap: 20px;
        height: 60vw;
    }

    .info-display img {
        width: 50px;
        height: 50px;
    }

    .mine-count-container, .timer-container {
        width: 150px;
        height: 65px;
        margin: 0;
        font-size: 50px;
    }

    .mine-count {
        width: 50%;
        text-align: center;
        font-size: 40px;
    }    

    .timer {
        width: 50%;
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    /* game page */
    .smiley {
        z-index: 2;
    }

    .game-board-container {
        z-index: 2;
    }

    .game-board {
        height: 73vw;
        width: 73vw;    
        margin-top: 25px;
    }

    .controls {
        position: absolute;
        bottom: 85px;
        flex-direction: row;
        gap: 55px;
        font-size: 30px;
        z-index: 1;
    }

    .info-display {
        position: absolute;
        top: 40px;
        flex-direction: row;
        justify-content: center;
        gap: 170px;
        margin-top: 25px;
    }

    .mine-count-container {
        width: 150px;
        height: 65px;     
    }
    
    .mine-count {
        width: 50%;
        text-align: center;
        font-size: 40px;
    }    
      
    .socials {
        bottom: 5px;
    }

    .socials i {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    /* game page */
    .smiley {
        margin-top: 35px;
    }

    .game-board-container {
        top: 60px;
    }

    .game-board {
        height: 100vw;
        width: 100vw; 
        margin-top: 30px;
        margin-bottom: 10px;   
        border: 2px solid;   
    }

    .controls {
        bottom: 90px;
        gap: 12px;
    }

    .info-display {
        top: 125px;
        margin: 0;
        gap: 50px;
    }

    .mine-count-container, .timer-container {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .controls {
        gap: 5px;
    }

    .mine-count-container, .timer-container {
        width: 150px;
        font-size: 40px;
    }

    .info-display img {
        width: 40px;
        height: 40px;
    }

}